body {
    background-color: #000; 
    color: #fff; 
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
    padding: 0;

}
.navbar {
    background-color: #111; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); 
    border-radius: 8px;
    padding: 10px 20px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.game-title {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
}

.navbar button {
    border-radius: 50px;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar button:hover {
    background-color: #555;
    transform: scale(1.05);
}
.btn {
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
}
.scores {
    background-color: #111;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 20px;}
.gameUi {
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 20px;
}

#user-inputs input {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 15px;
}   
#user-inputs button {
    width: 100%;
}

#feedback {
    color: #ff5757; 
    font-weight: bold;
}

#word-display {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1rem;
    color: #fff;
}

#prev-attempts {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
}

.list-group-item {
    background-color: #000;
    border: none;
    color: #fff;
    padding: 10px;
}
#cheat-button {
    background-color: #ff5757;
    border: 2px solid #fff;
    color: #fff;
}

#letters-used {
    font-size: 1.2rem;
    color: #fff;
}
.modal-content {
    background-color: #111;
    color: #fff;
    border: 2px solid #fff;
}

.modal-header, .modal-footer {
    border: none;
}

.btn-close {
    filter: invert(1); 
}

.rowbg {
    background-color: #222;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 20px;
    min-height: 60vh;
}

#user-guess::placeholder {
    color: #656565;
    opacity: 0.5;
}